.hero {
    background-image: url(/hero.svg);
    background-position: center;
    background-size: cover;
    border-radius: 70px;
    height: 700px;
    padding: 50px;
    margin: 0 10%;
    max-width: 1542px;
}

.hero h1 {
    font-size: 65px;
    line-height:125%;
}

.hero-text{
    max-width: 470px;
}

@media (max-width: 768px) {
    .hero-text {
        width: 100%;
    }
}

@media (max-width: 568px) {
    .hero h1 {
        font-size: 25px;
    }
    .hero {
        margin: 0;
    }
}