header {
    background-color: #FFFFFF;
}

header ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #1D1D1D;
    font-size: 20px;
    text-decoration: none;
    margin: 0 0 0 50px;
}

nav a:hover {
    color: #0C70F2;
}

@media (max-width:618px) {
    header ul{
        flex-direction: column;
    }
}