.footer-logo-col {
    width: 15rem;
}

.footer-col {

    max-width: 260px;

}

.footer-col-2 {
    gap: 100px;

}

.footer-col ul {
    margin: 0;
    padding: 0;
}

.footer-col li {
    margin: 0 0 25px 0;
}

 .footer-col h3, .footer-logo {
    font-size: 25px;
    margin: 0 0 25px 0;
}

 .footer p {
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 150%;
}

.footer-a a {
    text-decoration: none;
    color: #4D5053;
}

.footer-a a:hover {
    color: #0c70f2;
}

footer .social-lins a {
    margin:  25px 40px 0 0;
}

.footer-copy {
    margin: 70px 0 50px 0;
}

.footer-copy .langs-area {
    column-gap: 23px;
}

@media (max-width: 768px) {
    .footer-col {
        margin: 0;
        max-width: 100%;
        width: 20rem;
    }
    .footer-mobile {
        flex-direction: column;
        gap: 50px;
    }

    .footer-logo-col {
        max-width: 100%;
    }
    .footer-col-2 {
        gap: 20px;
    }
    
}

@media (max-width: 425px) {
    .footer-col-2 {
        flex-direction: column;
    }
}